<p>client works!</p>
<button [routerLink]="['/login']">logout</button>
<!-- Zakazivanje treninga, listanje i filtriranje termina-->
<h1>Informacije o Klijentu</h1>
<form #userForm="ngForm">
  <div>
    <label for="username">Korisničko ime:</label>
    <input
      type="text"
      id="username"
      name="username"
      required
      [(ngModel)]="user.username"
      #username="ngModel"
    />
  </div>
  <div>
    <label for="password">Lozinka:</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)]="user.password"
      #password="ngModel"
    />
  </div>
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      [(ngModel)]="user.email"
      #email="ngModel"
    />
  </div>
  <div>
    <label for="datumRodjenja">Datum rođenja:</label>
    <input
      type="date"
      id="datumRodjenja"
      name="datumRodjenja"
      required
      [(ngModel)]="user.datumRodjenja"
      #datumRodjenja="ngModel"
    />
  </div>
  <div>
    <label for="firstName">Ime:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      required
      [(ngModel)]="user.firstName"
      #firstName="ngModel"
    />
  </div>
  <div>
    <label for="lastName">Prezime:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      required
      [(ngModel)]="user.lastName"
      #lastName="ngModel"
    />
  </div>
  <div>
    <button
      type="submit"
      [disabled]="userForm.invalid"
      (click)="changeClientData(userForm.value)"
    >
      Sacuvaj
    </button>
  </div>
</form>
<hr />

<h1>Sve Notifikacije korisnika</h1>
<h3>Filtriraj notifikacije</h3>
<input
  type="text"
  #filterInput
  (input)="onInputChange(filterInput.value)"
  placeholder="Unesite vrednost za filtriranje"
/>

<h3>Filtriaj po vremenskom opsegu</h3>
<div>
  <label for="minTime">Minimalno vreme:</label>
  <input
    type="datetime-local"
    id="minTime"
    #minVal
    (change)="onMinTimeChange(minVal.value)"
  />
</div>

<div>
  <label for="maxTime">Maksimalno vreme:</label>
  <input
    type="datetime-local"
    id="maxTime"
    #maxVal
    (change)="onMaxTimeChange(maxVal.value)"
  />
</div>
<button (click)="onResetTable()">Resetuj tabelu</button>
<table>
  <tbody>
    <thead>
      <tr>
        <th>id</th>
        <th>Tip notifikacije</th>
        <th>Text Notifikacije</th>
        <th>Datum slanja</th>
        <th>Link</th>
        <th>Email_Mnagera</th>
      </tr>
    </thead>
  </tbody>

  <tbody>
    <tr *ngFor="let not of sveNotifikacije">
      <div *ngIf="not.clinetID == user.id">
        <td>{{ not.id }}</td>
        <td>{{ not.tipNotifikacije.naziv }}</td>
        <td>{{ not.tekst }}</td>
        <td>{{ not.vremeSlanja }}</td>
        <td>{{ not.link }}</td>
        <td>{{ user.manager.email }}</td>
      </div>
    </tr>
  </tbody>
</table>
<hr />
<h1>Trenizni za klijenta</h1>
<table>
  <thead>
    <tr>
      <th>Naziv sale</th>
      <th>Broj rezervacije</th>
      <th>Termin Treninga</th>
      <th>Pocetak Termina</th>
      <th>Kraj Termina</th>
      <th>Tip treninga</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trening of rezervacije">
      <td>{{ trening.rezervisaniTrening.sala.naziv }}</td>
      <td>{{ trening.rezervisaniTrening.brRezervacija }}</td>
      <td>{{ trening.rezervisaniTrening.terminTreninga }}</td>
      <td>{{ trening.rezervisaniTrening.pocetakTermina }}</td>
      <td>{{ trening.rezervisaniTrening.krajTermina }}</td>
      <td>{{ trening.rezervisaniTrening.tip.nazivTipa }}</td>
    </tr>
  </tbody>
</table>

<hr />
<h1>Rezervacije</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Cena Treninga</th>
      <th>Otkazi rezervaciju</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rez of rezervacije">
      <td>{{ rez.rezervacija_id }}</td>
      <td>{{ rez.cenaTreninga }}</td>
      <td><button (click)="onOtkaziRezervaciju(rez)">Otkazi</button></td>
    </tr>
  </tbody>
</table>

<hr />
<h1>Zakazite trening</h1>
<h3>Filtriraj</h3>
<input
  type="text"
  #filterInputa
  (input)="onInputFilter(filterInputa.value)"
  placeholder="Unesite vrednost za filtriranje"
/>

<h3>Filtriaj po vremenskom opsegu</h3>
<div>
  <label for="minTime">Minimalno vreme:</label>
  <input
    type="datetime-local"
    id="minTime"
    #minVal
    (change)="onMinTimeChange(minVal.value)"
  />
</div>
<table>
  <thead>
    <tr>
      <th>Naizv sale</th>
      <th>Tip Treninga</th>
      <th>Broj rezervacije</th>
      <th>Grupni</th>
      <th>Termin Treninga</th>
      <th>Pocetak Termina</th>
      <th>Kraj Termina</th>
      <th>Zakazi termin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trening of trenizniSlobodni">
      <td>{{ trening.sala.naziv }}</td>
      <td>{{ trening.tip.nazivTipa }}</td>
      <td>{{ trening.brRezervacija }}</td>
      <td *ngIf="!trening.grupni">Individualni</td>
      <td *ngIf="trening.grupni">Grupni</td>
      <td>{{ trening.terminTreninga }}</td>
      <td>{{ trening.pocetakTermina }}</td>
      <td>{{ trening.krajTermina }}</td>
      <td><button (click)="onZakaziRezervaciju(trening)">Zakazi</button></td>
    </tr>
  </tbody>
</table>
